
services:
  backend:
    build: ../backend
    ports:
      - "8000:8000"
    volumes:
      - ../backend:/app
    command: ["uvicorn", "main:app", "--host", "0.0 .0.0", "--port", "8000", "--reload"]    
    environment:
      - PYTHONUNBUFFERED=1
  frontend:
    build: 
      context: ../frontend
      dockerfile: Dockerfile.dev
    dns:
      - 8.8.8.8
      - 1.1.1.1
    ports:
      - "3000:3000"
    volumes:
      - ../frontend:/app
      - /app/node_modules
    command: ["npm", "start"]
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WDS_SOCKET_PORT=0
    stdin_open: true
    tty: true